In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import linear_model
from sklearn import metrics
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data = pd.read_csv("aqi_values.csv")
data.head()

     Name                       GPS  ...       Date      Time
0  Monash  (-35.418302, 149.094018)  ...  07-Apr-20  18:00:00
1   Civic  (-35.285307, 149.131579)  ...  07-Apr-20  18:00:00
2  Florey  (-35.220606, 149.043539)  ...  07-Apr-20  18:00:00
3   Civic  (-35.285307, 149.131579)  ...  07-Apr-20  20:00:00
4  Monash  (-35.418302, 149.094018)  ...  07-Apr-20  20:00:00

[5 rows x 12 columns]

In [ ]:
data_new = data[['AQI_NO2', 'AQI_O3_1hr', 'AQI_O3_4hr', 'AQI_CO', 'AQI_PM2.5', 'AQI_PM10', 'AQI_SITE']]
data_new = data_new.dropna()

In [ ]:
x = data_new[['AQI_NO2', 'AQI_O3_1hr', 'AQI_O3_4hr', 'AQI_CO', 'AQI_PM2.5', 'AQI_PM10']]
y = data_new[['AQI_SITE']]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1/3)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(15076, 6) (7538, 6) (15076, 1) (7538, 1)

In [ ]:
ridge = linear_model.Ridge()
lasso = linear_model.Lasso()
bayes = linear_model.BayesianRidge()
huber = linear_model.HuberRegressor()
lars = linear_model.Lars()
lassolars = linear_model.LassoLars()
SGD = linear_model.SGDRegressor()
elastic = linear_model.ElasticNet()

In [ ]:
models = [ridge, lasso, bayes, huber, lars, lassolars, SGD, elastic]
mname = ["Ridge Regression", "Lasso Regression", "Bayes REgression", "Huber Regression", 
         "Lars Regression", "Lasso Lars Regression", "SGD Regression", "Elastic Regression"]
acc = []
mae = []
mse = []

for model, modelname in zip(models, mname):
  print(f"{modelname} training started")
  print("-----------report------------")
  model.fit(x_train, y_train)
  print(f"Accuracy: {model.score(x_test, y_test)}")
  acc.append(model.score(x_test, y_test))
  y_pred = model.predict(x_test)
  print(f"Mean Absolute Error : {metrics.mean_absolute_error(y_test,y_pred)}")
  mae.append(metrics.mean_absolute_error(y_test,y_pred))
  print(f"Mean Squared Error : {metrics.mean_squared_error(y_test, y_pred)}")
  mse.append(metrics.mean_squared_error(y_test, y_pred))
  print(f"{modelname} training is completed")
  print("-"*50)

Ridge Regression training started
-----------report------------
Accuracy: 0.9977120750225645
Mean Absolute Error : 8.254062319055627
Mean Squared Error : 153.52250381878054
Ridge Regression training is completed
--------------------------------------------------
Lasso Regression training started
-----------report------------
Accuracy: 0.9977090960339203
Mean Absolute Error : 8.23174485263735
Mean Squared Error : 153.72239752159953
Lasso Regression training is completed
--------------------------------------------------
Bayes REgression training started
-----------report------------
Accuracy: 0.9977120026503737
Mean Absolute Error : 8.253449284928879
Mean Squared Error : 153.52736007938663
Bayes REgression training is completed
--------------------------------------------------
Huber Regression training started
-----------report------------

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.9973376956439703
Mean Absolute Error : 7.712214497252108
Mean Squared Error : 178.64380812148386
Huber Regression training is completed
--------------------------------------------------
Lars Regression training started
-----------report------------
Accuracy: 0.9977120751173267
Mean Absolute Error : 8.25406313135559
Mean Squared Error : 153.52249746012717
Lars Regression training is completed
--------------------------------------------------
Lasso Lars Regression training started
-----------report------------
Accuracy: 0.8050168814669154
Mean Absolute Error : 39.31989070090971
Mean Squared Error : 13083.600579048269
Lasso Lars Regression training is completed
--------------------------------------------------
SGD Regression training started
-----------report------------
Accuracy: -1.8478389260456212e+23
Mean Absolute Error : 27792497139634.23
Mean Squared Error : 1.2399220314396698e+28
SGD Regression training is completed
--------------------------------------------------
Elastic Regression training started
-----------report------------
Accuracy: 0.9977099574862288
Mean Absolute Error : 8.237185315117879
Mean Squared Error : 153.6645930408496
Elastic Regression training is completed
--------------------------------------------------

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
df = pd.DataFrame()
df["Algorithm Name"] = mname
df["Accuracy"] = acc
df["Mean Absolute Error"] = mae
df["Mean Squered Error"]  = mse
df.to_csv("report.csv", index=False)
df

          Algorithm Name      Accuracy  Mean Absolute Error  Mean Squered Error
0       Ridge Regression  9.977121e-01         8.254062e+00        1.535225e+02
1       Lasso Regression  9.977091e-01         8.231745e+00        1.537224e+02
2       Bayes REgression  9.977120e-01         8.253449e+00        1.535274e+02
3       Huber Regression  9.973377e-01         7.712214e+00        1.786438e+02
4        Lars Regression  9.977121e-01         8.254063e+00        1.535225e+02
5  Lasso Lars Regression  8.050169e-01         3.931989e+01        1.308360e+04
6         SGD Regression -1.847839e+23         2.779250e+13        1.239922e+28
7     Elastic Regression  9.977100e-01         8.237185e+00        1.536646e+02